option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "web_scraper.settings"
    PYTHONPATH: "/opt/python/current/app/web_scraper:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "web_scraper/web_scraper/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
