container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python web_scraper/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python web_scraper/manage.py create_su"
    leader_only: true
  03_celery_beat:
    command: "source /opt/python/run/venv/bin/activate && python web_scraper/manage.py celery beat"
    leader_only: true
  04_celery_periodic_task:
    command: "source /opt/python/run/venv/bin/activate && python web_scraper/manage.py create_periodic"
